{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="{% static 'homepage/home.css' %}">
</head>
<body>
    <div>
        <div class="head">
            <header>
                hi dsadasd
            </header>
        </div>
        {% block content %}
        {% endblock %}
        <div class="foot">
        <footer>
            hi every one dasff
        </footer>
        </div>
    </div>
</body>
</html>